@import url('https://fonts.google.com/specimen/Roboto?sidebar.open=true&selection.family=Open+Sans|Roboto:ital@0;1');
:root {
    --bleuf:#191970;
    --black : #262626;
    --white : #ffffff;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
*{
    box-sizing: inherit;
    }

/*** Accueil***/

    #mainHeader{
        display: flex;
        justify-content: space-between;
        height: 95px;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: #ffffff;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .headerLogo{
        display: block;
         border: 0;
        max-width: 40%;
         padding: 5px;
         position: relative;
         height:153px;
         margin: 0px;
     }
     .headerNav{
        position: absolute;
         width: 65%;
         top: 0px;
         padding-bottom: 10px;
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         display: none;
        padding-left: 200px;
         
     }
     .headerNav ul{
         list-style: none;
         padding: 0;
         margin: 0;
         display: flex;
         flex-direction: column;
     }
     .headerNav li{
          width: 160px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          float: left;
          font-size: 14px;
          position: relative;
       }
    .headerNav ul li:hover{
         background: #191970;
     }
     .headerNav ul li a:hover{
        color:#ffffff ;
     }
     .headerNav ul ul{
         display: none;
     }
     .headerNav ul li:hover > ul{
         display: block;
     }
     .headerNav ul ul ul{
         margin-left: 170px;
         top: 0;
         position: absolute;
     }
     
     .headerNav a{
         color:#1A2B6D ;
         text-decoration: none;
         font-size: 1.2em;
         display: block;
         padding-left: 9px
     }
     
     .headerNav ul ul{
         display: none;
     }
     .headerNav ul li:hover > ul{
         display: block;
     }
     .menuToggle {
        width: 54px;
        height: 54px;
        background-color: #191970;
        border: none;
        background-size: cover;
        align-self: start;
        margin-left: auto;
       border-radius: 50%;
    }
    .blocImg{
        width:-webkit-fill-available;
        max-height: 500px;
        margin-top: 92px;
     }
     #pageContent{
         width: 100%;
         background-repeat: no-repeat;
         background-size:cover;
         background-color: #f9fafa;
     }
    .blocEntete {
        display: flex;
        flex-direction: column;
        background-color:#F0F8FF;
        height: auto;
        width: 100%;
        /*margin-left: 31.7em;*/
        margin-top: 0.2em;
        position: static;
    }
    .blocEnteteService{
        margin-top: 5em;
    }
    .serviceItems{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .serviceItemsBloc{
        margin: 25px;
        text-align: center;
        padding: 10px; 
       /* border: 5px solid black; */
        width: 46%; 
        text-align: justify;
        border: 0px solid rgba(0, 115, 159, 1);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 0;
        color:#1A2B6D;
    }
    .blocEnteteService{
       /* color: hsl(324, 70%, 45%);
        animation: wheelHueColor 10s infinite;
        background-color: currentColor;*/
        background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
      }

      /*
      @supports (background-blend-mode: overlay) {
        .blocEnteteService {
          background-image: linear-gradient(45deg, white 10%, black 90%);
          background-blend-mode: overlay;
        }
      }
      @keyframes wheelHueColor {
        from, to { color: hsl(324, 70%, 45%); }
        10%      { color: hsl(360, 65%, 45%); }
        20%      { color: hsl( 36, 80%, 45%); }
        30%      { color: hsl( 72, 75%, 35%); }
        40%      { color: hsl(108, 65%, 35%); }
        50%      { color: hsl(144, 75%, 35%); }
        60%      { color: hsl(180, 75%, 35%); }
        70%      { color: hsl(216, 60%, 45%); }
        80%      { color: hsl(252, 65%, 50%); }
        90%      { color: hsl(288, 60%, 40%); }
      }
      @keyframes ombre{
          0%{
              box-shadow: 0 0 15px red;
          }
          100%{
              box-shadow: 0 0 15px yellow;
          }
      }*/
      
    .serviveItemsBlocCenter{
        margin: auto;
        margin-bottom: 20px;
      
    }
    .serviceItemsBloc h3{
        color: #1A2B6D;
    }
    .serviceItemsBloc ul li{
        list-style-type: none;
    }
    .blocContent{
        display: flex;
        flex-direction: column;
        background-color:#F0F8FF;
        height: auto;
       /* max-width: 40%;*/
       /* margin-left: 31.7em;*/
        margin-top: 0.2em;
        position: static;
        height: 290px;
    }
    .blocEnteteHeader{
        font-size: 2em;
        margin-top: 1em;
        color: #191970;
        text-align: star;
        align-self: center;
        width: 41%;
    }
   .blocEnteteContent{
        width:41%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        align-self: center;
    }
    .trait{
        width: 25%;
        border-top:0.5em solid #191970;
        margin-right: 1em;
     }
     .blocItemHeading{
        /*font-size: 66px;*/
        line-height: 1em;
        margin: 15px 0px 35px 0;
        text-align: center;
     }
     .blocItemText{
        font: normal normal normal 15px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif;
        color: #000000;
        letter-spacing: normal;
        text-align: left;
        margin: 10px;
    }
    #linkMore {
        text-decoration: none;
        width: 75%;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        align-items: center;
        text-align: initial;
        border-radius: 0;
        position: absolute;
        left: 0;
        transition: border-color 400ms ease-out; 
        transition: background-color 400ms ease-out; 
        padding-top: 200px;
    }
    #linkMore .plus{
        background: rgba(26, 43,109, 1);
        border: solid rgba(0, 115, 159, 1) 0px;
        cursor: pointer !important;
        height: 3em;
        width: 5%;
        color: var(--white);
        text-align: center;
        padding-top: 0.8em;
    }
    #linkMore .savoir{
        background: rgb(212, 19,23, 1);
        border: solid rgba(90, 101, 146, 1) 0px;
        cursor: pointer !important;
        height: 3em;
        color: var(--white);
        text-align: center;
        padding: 15px;
    }
    #linkMore .savoir:hover{
        background: rgba(26, 43,109, 1);
        transition: border-color 400ms ease-out; 
        transition: background-color 400ms ease-out; 
    }
    #linkMore .plus:hover{
        background: rgb(212, 19,23, 1);
        transition: border-color 400ms ease-out; 
        transition: background-color 400ms ease-out; 
    }
    .link{
        color: rgb(212, 19,23, 1);
        text-decoration: none;
        position: absolute;
        margin-top: 223px;
        top: 5px;
        left: 100px;
         
   }
   .link:hover{
       color: rgba(26, 43,109, 1);
       transition: border-color 400ms ease-out; 
       transition: color 400ms ease-out; 
   }
   .bloc{
       max-width: 100%;
       background:url(../images/bg_service.jpg);   
   }
   .service{
    font: normal normal normal 55px/1.4em spinnaker,sans-serif;
    color: #1A2B6D;
    margin-top: -64px;
}
   .blocService1{
       width: 75%;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       margin-left: 150px;
    }
    /*.blocService2{
        margin-top: 40px;
        margin-bottom: 60px;
    }*/

    /**** Fin Accueil ***/

     /* Footer */


   ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0;
        }

        ul.icons li .icon:before {
            font-size: 2em;
        }

	#footer {
		padding: 8em 0 6em 0;
		/*background: #f6f6f6;
		color: #aaa;*/
        text-align: center;
        background: #152F4F;
        color:white;
	}

		#footer a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			color:white;
			text-decoration: none;
		}

			#footer a:active, #footer a:hover {
				color: #666;
			}

		#footer .icons {
			font-size: 1.5em;
		}

			#footer .icons li {
                padding-right: 2.5em;
                list-style-type: none;
                width: 100px;
			}

		#footer .copyright {
			margin: 2em 0;
			padding: 0;
			text-align: center;
		}

			#footer .copyright li {
				border-left: solid 1px rgba(144, 144, 144, 0.25);
				display: inline-block;
				list-style: none;
				margin-left: 1.5em;
				padding-left: 1.5em;
			}

				#footer .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
                }
                
/***FIN FOOTER ***/

#pageContact{
    border-top: solid 1px var(--bleuf);
    margin: 0;
    padding: 30px;
    text-align: center;
   /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);*/
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height:auto;
    
    }

    .contactHeader{
        margin-top: 100px;
        color: #fff;
        text-transform: uppercase;
        transition: all 4s ease-in-out;
    }
    
    .contactTitle{
        font-size: 32px;
        line-height: 50px;
    }
    .contactText{
        font-size: 16px;
    }
    form{
        margin-top: 50px;
        transition: all 4s ease-in-out;
    }
    .contactForm{
        display: flex;
        flex-direction: column;
        height: 30em;
        align-items: center;
        animation: ombre ease-in infinite alternate 500ms;
    }
    .formControl{
        width: 600px;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid gray;
        color: #fff;
        font-size: 18px;
        margin-bottom: 16px;
    }
    input{
        height: 45px;
    }
    input.submit{
        background: #ff5722;
        border-color: transparent;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 20px;
        width: 42%;
    }
    input.submit:hover{
    background-color: #f44336;
    cursor: pointer;
    }
    #expertise{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
        background-color: #f9fafa;
        color: #20303c;
    }
    .expertiseContent{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        justify-content: space-around;
        margin-top: 150px;
    }
    .expertiseFirst{
        display: flex;
        flex-direction: row-reverse;
    }
    .expertiseItems{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 390px;
        flex: 3;
        min-height: 60vh;
        
    }
    .expertiseItems ul li{
        list-style-type: none;
        padding: 0;
    }
   .missionContent{
       margin-top: 0;
       width: 100%;
   }
   .missionItems{
       height: 350px;
       margin-bottom: 15px;
       min-height: 0;
       margin: 40px;
   }

.expertiseHeader{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.expertiseBoxFirst {
    position: absolute;
    width: 50%;
    height: 15em;
    /*background-color: rgba(242, 242, 242, 1);*/
    top: 160px;
    left: 23%;
    z-index: 1;
    /*box-sizing: border-box;*/
    color: #1A2B6D;
    border: 0px solid rgba(0, 115, 159, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
}
#propos{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    align-items: center;
    background-color: #f9fafa;
    color: #20303c;
}
.missionHeader{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.missionBoxFirst{
    position: absolute;
    width: 50%;
    height: 15em;
    /*background-color: rgba(242, 242, 242, 1);*/
    left: 23%;
    z-index: 1;
    border: 0px solid rgba(0, 115, 159, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-top: 80px;
    border-radius: 0;
}
.missionBoxSecond{
    position: absolute;
    width: 48%;
    height: 14em;
    box-sizing: border-box;
    margin-top: 66px;
    /*border-left-style: none;*/
    border-radius: 0 0 0 0;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 0 0;
}
.expertiseBoxSecond{
    position: absolute;
    width: 48%;
    height: 14em;
    top: 193px;
    bottom: 0px;
    box-sizing: border-box;
    /*border-left-style: none;*/
    border-radius: 0 0 0 0;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 0 0;
}
.blocItem{
    width: 26%;
    height: 45vh;
}
.blocItemElement1{
    position: absolute;
    width: 22%;
    height: 268px;
    background-color: rgba(242, 242, 242, 1);
    /*top: 160px;
    left: 23%;*/
    z-index: 1;
    box-sizing: border-box;
    color: #1A2B6D;
    border: 0px solid rgba(0, 115, 159, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
}
.blocItemElement2{
    position: absolute;
    width: 22%;
    height: 17em;
    /*top: 193px;
    bottom: 0px;*/
    box-sizing: border-box;
    border-left-style: none;
    border-radius: 0 0 0 0;
    background-color: transparent;
    border: 4px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 0 0;
    margin-left: 13px;
    margin-top: 11px;
}
.bandeBleu{
    background-color:#1A2B6D ;
    height: 180px;
     width: 100%;
}
.expertiseTitle{
    font-size: 66px;
    line-height: 1em;
    margin: 65px 0px 47px 0;
    text-align: center;
    color: #1A2B6D;
}

/****** la page équipe *****/

     /* Mise en page général */
     .carteEntete{
         background-color: #f9fafa;
         text-align: center;
         color:#1A2B6D;
         margin-bottom: 20px;
         width: 75%;
     }
     .carteEntete h2{
         padding: 10px;
     }
     .carteEntete p{
        padding: 10px;
        width: 75%;
        text-align: center;
        margin-left: 100px;
    }

     .centre{
        width: 75%;
        margin: 0 auto;
        margin-top: 130px;
    }

    /* Mise en page des pavés */
    .carte{
        background-color: #f9fafa;
        margin-bottom: 10px;
    }
    .carte a{
        text-decoration: none;
        color: #262626;
        width: 100%;
    }
    .carte:hover{
        box-sizing: border-box;
        border: 2px solid #aaaa;
    }
    .carte a figure{
        margin: 0;
    }
    .carte a figure img{
        max-width: 100%;
        margin-left: 197px;
    }
    .carte a figure figcaption{
        text-align: center;
        font-style: italic;
    }
    .carte a  div h2{
        margin-top: 5px;
        padding: 5px;
        text-align: center;
        font-size: 1em;
        background-color: #cccccc;
    }
    .carte a  div p{
        padding: 10px;
        background-color: #fff;
        text-align: center;
    }
   ul{
       padding: 0;
   }
                    /******* Responsive webdesign *******/

/**** mobile phone *****/

@media only screen and (min-width:320px){
    
      main{
          width: auto;
          margin: 0;
      }
}

@media only screen and (max-width:320px){
    
    main{
        width: auto;
        margin: 0;
    }
    .bloc{
        background: none;
    }
    .blocImg{
      display: none;
    } 
     #expertisePage{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-content: center;
    }
    .blocItem{
        width: 50%;
    }
    .blocItemElement1{
        width: 50%;
        background: rgba(242, 242, 242, 1);
    }
    .blocItemElement1{
        width: 50%;
    }
    .blocItemText {
        font: normal normal normal 15px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif;
        color: #000000;
        letter-spacing: normal;
        text-align: left;
        margin: 10px;
    }

  
}


/**** Tablet ****/

@media only screen and (min-width:321px) and (max-width:768px){
      
    main{
        width: 100%;
        margin: 0;
    }
    .bloc{
        background: none;
    }
    .blocImg{
        display: none;
    } 
    .blocContent{
        display: flex;
        flex-direction: row;
        background-color: #191970;
        color:white;
        width: auto;
        height: 320px;
    }
    .blocEnteteContent{
        margin: 0;
        width: auto;
    }
    .blocEnteteHeader{
        margin-left: 15px;
        color: rgba(255, 255, 255, 1);
        font-size: 1.2em;
        width: 353px;
    }
    .blocEnteteContent p{
        margin: 0;
        color: rgba(255, 255, 255, 1);
    }
    .trait{
        display: none;
       /* border-top: 0.3em solid rgba(255, 255, 255, 1);
        align-self: center;*/
    }
    #linkMore .plus{
        width: 60px;
        background-color:rgba(255, 255, 255, 1) ;
        color: #191970;
    }
    #linkMore{
        
        padding-top: 230px;
    }
    #linkMore .savoir:hover{
        background: rgba(255, 255,255, 1); 
        color: #191970;
    }
    #linkMore .plus:hover{
        background: rgb(212, 19,23, 1);
        color:rgba(255, 255,255, 1);  ;
     }
    .service{
        margin: 0;
        text-align: center;
    }
    #mainHeader{
        height: 126px;
    }
    .headerNav{
        width: 100%;
        padding: 0;
        top: 82px;
        margin-left: 3px;
    }
    .headerNav ul{
        flex-direction: row;
        justify-content: space-around;
       /* height: 40px;*/
        align-items: center;
        width: 100%;
        padding: 0;
    }

   
    .cartes.bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .carte{ 
        flex: 0 0 32%;
        display: flex;
    }
    .carte a figure img{
        max-width: 100%;
    }
    .carteEntete{
        background-color: #f9fafa;
        text-align: center;
        color:#1A2B6D;
       /* margin-bottom: 20px;*/
        width: 75%;
    }
    .carteEntete p{
        /*padding: 10px;*/
        width: 75%;
        text-align: center;
        margin-left: 100px;
    }

    #footer {
        padding: 3em 0 2em 0;
    }

        #footer .icons {
            font-size: 1em;
        }
        #expertisePage{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            align-content: center;
        }
        .blocItem{
            width: 50%;
        }
        .blocItemElement1{
            width: 50%;
            background: rgba(242, 242, 242, 1);
        }
        .blocItemElement2{
            width: 50%;
        }
        .blocItemText {
            font: normal normal normal 15px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif;
            color: #000000;
            letter-spacing: normal;
            text-align: left;
            margin: 10px;
        }
    
}

/**** Desktop ****/

@media only screen and (min-width:769px){

    .headerNav{
        position: static;
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
        width: 62%;
    }
    .headerNav ul{
        flex-direction: row;
        justify-content: space-around;
        height: 80px;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .headerLogo{
        display: block;
        border: 0;
        width: 20%;
        padding: 5px;
        position: relative;
        height:100px;
    }
    .blocItemHeading{
        margin: 15px 0 15px 0;
    }
    .link{
        left: 50px;
        margin-top: 230px;
    }
     
    .menuToggle {
        display: none;
        text-align: right;
        color: #191970;
    }
    .centre{
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        margin-top: 130px;
        justify-content: space-evenly;
    }
    .cartes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
    }
    .carte a figure img{
        max-width: 100%;
        margin-left: 135px;
    }
    .carteEntete{
        background-color: #f9fafa;
        text-align: center;
        color:#1A2B6D;
       /* margin-bottom: 20px;*/
        width: 75%;
    }
    .carteEntete p{
        /*padding: 10px;*/
        width: 75%;
        text-align: center;
        margin-left: 100px;
    }

    #footer {
        padding: 6em 0 4em 0;
    }
         
}
@media screen and (min-width: 1200px){
      .carte{
          flex: 0 0 32%;
      }
     
}
@media screen and (max-width:840px){
    #expertisePage{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-content: center;
    }
    .blocItem{
        width: 50%;
    }
    .blocItemElement1{
        width: 50%;
        background: rgba(242, 242, 242, 1);
    }
    .blocItemElement2{
        width: 50%;
    }
    .blocItemText {
        font: normal normal normal 15px/1.2em helvetica-w01-light,helvetica-w02-light,sans-serif;
        color: #000000;
        letter-spacing: normal;
        text-align: left;
        margin: 10px;
    }
}


